.flex {
    display: flex;
    flex-wrap: wrap;
  }
.card {
    float: left;
    margin: 10px;
}
.card-image {
    width: 278px;
    height: 240px;
}
.material-icons {
    font-size: 14px;
}
.row-header {
    margin-top: 35px;
}
.newpost-button {
    float: right;
}
.login-submit-button {
    margin: 10px;
}
.show-image {
    margin-top: 20px;
}