body {
    background: rgb(216, 210, 210);
  }
  .card-p {
    margin: 30px auto;
    width: 350px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
  }
  .card-p-img {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    height: auto;
  }
  .card-p-content {
    padding: 20px;
  }
  .card-p-title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  .card-p-text {
    color: #777;
    font-size: 40px;
    line-height: 1.5;
  }
  .card-p-link {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 20px;
  }
  .card-p-link a {
    text-decoration: none;
    color: #0bd;
    margin: 0 10px;
  }
  .card-p-link a:hover {
    color: #0090aa;
  }
  .content1 {
    width: 400px; height: 50px;
    border: dotted #008080;
    }