<!DOCTYPE html>
<head>
<%= javascript_include_tag 'navbar', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav>
  <div class="container">
    <div class="nav-wrapper">
    <div class="container">
      <a href="/" class="brand-logo"><i class="material-icons">cloud</i>Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/users/login" class="waves-effect waves-light btn">ログイン</a></li>
        <li><a href="/users/sign_up" class="waves-effect waves-light btn">ユーザ登録</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <!-- SideNav -->
      <a href="" class="sidenav-trigger" data-target="slide-out"><i class="material-icons">menu</i></a>
    </div>
    </div>
  </div>
  </nav>

  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="">one</a></li>
    <li><a href="">two</a></li>
    <li class="divider"></li>
    <li><a href="">three</a></li>
  </ul>

  <!-- SideNavの要素(Structure) -->
  <ul id="slide-out" class="sidenav">
      <li><a href="/users/login">ログイン<i class="material-icons left">person</i></a></li>
      <li><a href="/users/sign_up">ユーザ登録<i class="material-icons left">local_post_office</i></a></li>
      <%# 
      <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
              <li>  
                  <a class="collapsible-header"　data-target="collapsible-data">Dropdown<i class="material-icons">arrow_drop_down</i></a>
                  <div class="collapsible-body"　id="collapsible-data">
                  <ul>
                      <li><a href="">First</a></li>
                      <li><a href="">Second</a></li>
                      <li><a href="">Third</a></li>
                      <li><a href="">Fourth</a></li>
                  </ul>
                  </div>
              </li>
              </ul>
        </li> 
        %>
  </ul>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>

